body {
    margin-top: 60px;
    font-family: 'Lato', sans-serif;
    background-color: yellow;
}

.pokemon-header {
    background-color: none;
    padding: 7px;
    border: none;
    margin-top: 5%;
}

.pokedex {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.pokemon-button {
    font-size: 20px;
    margin-left: 25%;
    padding: 12px;
    width: 50%;
    background-color: rgb(205, 231, 9);
    border-radius: 50%;

}


.pokemon-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    width: 50%;
    justify-content: center;
    border: none;
}


.pokemon-img {
    width: 150px;
    height: 150px;
}

.list-group-item {
    background: none;
    border: none;
}

.modal-content {
    background-color: rgb(10, 230, 246);
    color: rgb(20, 17, 17);
}

.modal-content .close {
    color: black;
}

.modal-body {
    background-color: aqua;
}

.modal-header {
    background-color: yellow;
}